.news {
	&__inner {
		text-align: center;
	}

	&__subtitle {
	}

	&__title {
	}

	&__cards {
	}

	&__card {
		background: #1c1814;
	}

	&__content {
		padding: 20px 24px;
	}

	&__img {
		width: 100%;
	}

	&__info {
		display: flex;
		margin-bottom: 15px;
		justify-content: space-between;
		@include text($colorWhite, $urbanist, 18px, 500, normal);
	}

	&__author {
		span {
			color: $colorBrown;
		}
	}

	&__date {
	}

	&__text {
		@include text($colorWhite, $righteous, 20px, 400, 150%);
		text-transform: capitalize;
		margin-bottom: 30px;
		text-align: left;
	}

	&__link {
		display: flex;
		gap: 8px;
	}
	&__read-more {
		@include text(#c99e71, $urbanist, 16px, 500, normal);
	}
	&__arrow {
	}
}
