.popular-product {
	&__inner {
		text-align: center;
		padding-bottom: 140px;

		@media screen and (max-width: 768px) {
			padding-bottom: 80px;
		}
	}

	&__subtitle {
		margin-bottom: 12px;
	}

	&__title {
		margin-bottom: 104px;
		@media screen and (max-width: 768px) {
			margin-bottom: 60px;
		}
		@media screen and (max-width: 460px) {
			margin-bottom: 40px;
		}
	}

	&__items {
		margin-bottom: 56px;
		@media screen and (max-width: 768px) {
			margin-bottom: 20px;
		}
	}

	&__item {
		background-color: #121315;
		padding: 48px 48px 36px 48px;

		@media screen and (max-width: 900px) {
			padding: 40px;
		}
		@media screen and (max-width: 800px) {
			padding: 30px;
		}

		&-img {
			margin-bottom: 37px;
			width: 100%;
		}

		&-title {
			@include text($colorWhite, $righteous, 24px, 400, normal);
			text-transform: uppercase;
			margin-bottom: 20px;

			@media screen and (max-width: 1100px) {
				font-size: 1.2rem;
			}
			@media screen and (max-width: 800px) {
				font-size: 1rem;
			}
		}

		&-info {
			@include text($colorWhite, $urbanist, 18px, 600, normal);
			text-transform: uppercase;

			@media screen and (max-width: 1100px) {
				font-size: 1rem;
			}
			@media screen and (max-width: 800px) {
				font-size: 0.8rem;
			}
		}
	}

	&__rating {
		color: $colorWhite;
		display: flex;
		justify-content: center;
		gap: 13px;
		margin-bottom: 20px;
		flex-wrap: wrap;

		&-title {
			color: $colorBrown;
			text-transform: uppercase;

			@media screen and (max-width: 800px) {
				font-size: 1rem;
			}
		}
	}

	&__stars {
		display: flex;
		gap: 4px;
	}

	&__button {
		margin: 0 auto;
	}

	&__slider-indicators {
		margin-bottom: 50px;
	}
}
