.reservation {
	&__inner {
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content: center;
		@media screen and (max-width: 1190px) {
			gap: 30px;
		}
	}

	&__map {
		flex: 0 1 585px;
		@media screen and (max-width: 1190px) {
			height: 500px;
		}
		@media screen and (max-width: 500px) {
			height: 400px;
		}
	}

	&__form {
		flex: 0 1 585px;
		padding: 72px 48px;
		text-align: center;
		background: #1c1814;

		@media screen and (max-width: 460px) {
			padding: 50px 30px;
		}
	}

	&__subtitle {
	}

	&__title {
	}

	&__inputs {
		margin-bottom: 56px;
		@media screen and (max-width: 460px) {
			margin-bottom: 30px;
		}

		input {
			width: 100%;
		}
	}
	&__number-of-people {
		margin-bottom: 24px;
	}

	&__date {
		margin-bottom: 24px;
	}

	&__time {
	}

	&__button {
		margin: 0 auto;
	}
}
