// Colors
$colorBrown: #c99e71;
$colorWhite: #fff;
$colorGrey: rgba(255, 255, 255, 0.8);
$colorDarkBackground: #14110e;

// Fonts
$inter: 'Inter', sans-serif;
$righteous: 'Righteous', cursive;
$urbanist: 'Urbanist', sans-serif;
